<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>list</title>
</head>
<body>
            <h1><%= cdate %> </h1>

        <% for (var i =1; i <=add_p.length;  i++ ) { %>
        <li> <%= add_p[i-1] %> </li>
        <% } %>
        



     <form name="myForm" action="/" method="post">
       
        <input name="add_input" type="text">
        <button type="submit">ADD</button>
        </form>

</body>
</html>
