<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>list</title>
</head>
<body>
   
    <!-- <p>playing</p>-->

    <% for(var i=0;i<5;i++) %>
    <% {  %>
        <li> <%= add_p[i] %> </li>
        <% }  %> 

    <!-- <p>eating</p>
    <p>playing</p>
    <p>dancing</p>
    <p><%= add_p %></p>  -->
    <form name="myForm" action="/" method="post">
       
        <input name="add_input" type="text">
        <button type="submit">ADD</button>
        </form>

</body>
</html>